.Notebook {
  width: 100%;
}

.NotebookEntry {
  /* border-width: 1pt;
  border-style: solid;
  border-color: black; */
  padding: 2pt;
}

.Gutter {
  /* width: 14px; */
  flex: 0 0 14px;
}

.FocusGutter {
  width: 14px; /* 11px */
  background-color: lightgray;
  flex: 0 0 14px;
}

.PointerGutter {
  width: 14px;
  background-color: lightgray;
  flex: 0 0 14px;
}

.PointerGutter:hover {
  cursor: pointer;
}

.Closed {
  display: flex;
  flex-direction: row;
}

.Upper {
  display: flex;
  flex-direction: row;
}

.Lower {
  display: flex;
  flex-direction: row;
}

.NotebookBody-OK {
  flex: 1 1 100%;
}

.NotebookBody-ERROR {
  flex: 1 1 100%;
  color: red;
}
